html
  scroll-behavior: smooth

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: -apple-system, BlinkMacSystemFont, Rubik, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
  font-optical-sizing: auto
  font-feature-settings: 'pnum' on, 'lnum' on
  font-weight: 400
  font-style: normal
  font-size: 16px
  min-width: 380px
  color: var(--color-black)
  background: url(../img/bg.jpg) no-repeat center / cover
  background-attachment: fixed

ul
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  text-decoration: none

input, textarea, button, select
  outline: none
  border: 0
  border-radius: 0

button
  cursor: pointer

input, textarea
  background: transparent

.wrapper
  width: 100%
  margin: 0 auto
  overflow: hidden
  padding-top: 110px

.container
  max-width: 1200px
  width: 100%
  padding: 0 15px
  margin: 0 auto
  position: relative
  z-index: 5

.form
  @include flexbox
  align-items: flex-end
  gap: 10px
  label
    display: block
    p
      text-align: center
      margin-bottom: 5px
    input
      width: 100%
      height: 50px
      padding: 0 20px
      border-radius: 99px
      background-color: rgba(227, 235, 245, .3)
      color: #fff
      @include placeholder
        color: #fff
  label, button
    flex: 1
  button
    height: 50px
    border-radius: 99px
    border: 0
    cursor: pointer
    background: var(--color-green)
    text-align: center
    font-weight: 700
    color: #fff

.title
  text-align: center
  max-width: 600px
  width: 100%
  position: relative
  font-size: 44px
  font-weight: 700
  margin: 0 auto
  margin-bottom: 50px
  &::before, &::after
    content: ''
    position: absolute
    top: 0
    bottom: 0
    margin: auto 0
    height: 2px
    background: var(--color-black)
    width: 100vw
    opacity: 0.5
  &::before
    left: 100%
  &::after
    right: 100%

.section
  padding: 110px 0
  &-t
    padding-top: 0

.tags
  &-wrapper
    height: 44px
    overflow: hidden
    transition: height 0.5s ease
  &-list
    @include flexbox
    gap: 12px
    li
      padding: 12px
      display: block
      line-height: 18px
      border-radius: 999px
      cursor: pointer
      border: 1px solid transparent
      background: #fff
      color: var(--color-gray)
      transition: .2s
      &:hover
        border-color: var(--color-green)
        color: var(--color-green)
  &-more
    @include flexbox
    align-items: flex-start
    margin-top: 12px
    a
      @include flexbox
      align-items: center
      gap: 8px
      font-size: 14px
      color: var(--color-gray)
      &::after
        content: '›'
        font-size: 16px
        transform-origin: center
        transform: rotate(90deg)
      &.open::after
        transform: rotate(-90deg)

.text
  background-color: hsla(0, 0%, 100%, .7)
  border-radius: 20px
  padding: 40px
  h3
    text-align: center
    font-size: 40px
    font-weight: 700
    line-height: 1.15
    margin-bottom: 40px
  p
    font-size: 20px
    line-height: 1.3
    color: var(--color-shadow-blue)
    margin-top: 25px

.breadcrumbs
  display: block
  color: var(--color-shadow-blue)
  font-size: 14px
  margin-bottom: 30px
  li
    display: inline
    &::after
      content: "›"
      padding: 0 8px
      font-size: 16px
    &:last-child::after
      display: none
    a
      transition: .25s
      &:hover
        color: var(--color-green)

.noUi-horizontal
  height: 4px
  border: 0
  border-radius: 99px
  background: #e1e1e1
  box-shadow: none
.noUi-connect
  background: var(--color-green)
.noUi-handle
  width: 18px !important
  height: 18px !important
  top: -7px !important
  border-radius: 100%
  border: 2px solid var(--color-green)
  background: #fff
  box-shadow: none
  padding: 0
  cursor: pointer
  &::before,
  &::after
    display: none
.noUi-handle-upper
  right: 0 !important
