@media(max-width: 1024px)
  .container
    max-width: 768px

  .header-nav
    display: none
  .header-social
    display: none
  .header-logo img
    height: 40px
  .header
    padding: 10px 0
  .header-contact li:nth-child(2)
    display: none
  .header .container
    align-items: center
  .header-top
    justify-content: flex-end
  .wrapper
    padding-top: 60px

  .hero
    padding: 80px 0
  .hero-title
    font-size: 48px
  .hero-list
    font-size: 22px
    margin-top: 20px
  .hero .form
    max-width: 100%
    margin-top: 40px

  .section
    padding: 80px 0
    &-t
      padding-top: 0

  .title
    font-size: 32px
    margin-bottom: 30px
  .projects-card__image
    width: 100%
    border-radius: 15px
  .projects-card__content
    width: 100%
    padding: 20px
  .projects-card__title
    font-size: 24px
  .projects-card__text
    font-size: 16px
    margin-bottom: 20px
  .projects-card
    margin-top: 20px

  .tags-list li
    font-size: 14px
    padding: 10px
  .tags-wrapper
    height: 40px

  .text
    font-size: 18px
    padding: 30px

  .advantages-item
    min-width: calc((100% - 80px) / 3)

  .works-grid,
  .about-grid
    grid-template-columns: repeat(1, 1fr)

  .about-item.bg h3
    width: 100%

  .footer .form
    display: none

  .filter-block__range
    width: 100%

  .cta
    background-image: none

  .works-single
    padding: 80px 0
    min-height: 600px

  .works-single h2
    font-size: 36px
  .works-single ul
    font-size: 18px
    margin-top: 20px

  .projects-single__gallery
    width: 100%
  .projects-single__info
    width: 100%

  .col:first-child
    width: calc(100% - 220px)

  .projects-add__main
    width: 100%
  .projects-add__total
    width: 100%
    margin-top: 30px
