@media(max-width: 1024px)
  .container
    max-width: 768px

  .header-nav
    display: none
  .header-social
    display: none
  .header-logo img
    height: 40px
  .header
    padding: 10px 0
  .header-contact li:nth-child(2)
    display: none
  .header .container
    align-items: center
  .header-top
    justify-content: flex-end
  .wrapper
    padding-top: 60px

  .hero
    padding: 80px 0
  .hero-title
    font-size: 48px
  .hero-list
    font-size: 22px
    margin-top: 20px
  .hero .form
    max-width: 100%
    margin-top: 40px

  .section
    padding: 80px 0
    &-t
      padding-top: 0

  .title
    font-size: 32px
    margin-bottom: 30px
  .projects-card__image
    width: 100%
    border-radius: 15px
  .projects-card__content
    width: 100%
    padding: 20px
  .projects-card__title
    font-size: 24px
  .projects-card__text
    font-size: 16px
    margin-bottom: 20px
  .projects-card
    margin-top: 20px

  .tags-list li
    font-size: 14px
    padding: 10px
  .tags-wrapper
    height: 40px

  .text
    font-size: 18px
    padding: 30px

  .advantages-item
    min-width: calc((100% - 80px) / 3)

  .works-grid,
  .about-grid
    grid-template-columns: repeat(1, 1fr)

  .about-item.bg h3
    width: 100%

  .footer .form
    display: none

  .filter-block__range
    width: 100%

  .cta
    background-image: none

  .works-single
    padding: 80px 0
    min-height: 600px

  .works-single h2
    font-size: 36px
  .works-single ul
    font-size: 18px
    margin-top: 20px

  .projects-single__gallery
    width: 100%
  .projects-single__info
    width: 100%

  .col:first-child
    width: calc(100% - 220px)

  .projects-add__main
    width: 100%
  .projects-add__total
    width: 100%
    margin-top: 30px

  .header-burger
    @include flexbox
    align-items: center
    justify-content: center
    flex-direction: column
    width: 40px
    height: 40px
    margin-left: 20px
    gap: 8px
    transition: .2s
    transition-delay: .2s
    span
      width: 30px
      height: 3px
      background: #000
      transition: .2s
      transition-delay: 0s
    &.active
      gap: 0
      transition-delay: 0s
      span
        transition-delay: .2s
        &:nth-child(2)
          opacity: 0
        &:nth-child(1)
          margin-bottom: -3px
          transform: rotate(-45deg)
        &:nth-child(3)
          margin-top: -3px
          transform: rotate(45deg)
  .header-top
    align-items: center
  .header-contact a[href^="tel:"]
    font-size: 16px
  .header-nav
    display: block
    background: #fff
    position: absolute
    top: 100%
    left: 0
    right: 0
    margin: 0
    padding: 10px 15px
    font-size: 16px
    max-height: calc(100dvh - 60px)
    overflow: auto
    pointer-events: none
    opacity: 0
    transform: translateY(-10px)
    transition: .2s
    &.active
      pointer-events: auto
      opacity: 1
      transform: translateY(0px)
  .header
    width: 100%
    height: 60px
    .container
      position: initial
  .header-nav li.header-dropdown ul
    position: relative
    background: transparent
    box-shadow: none
    width: 100%
    li
      a
        padding: 10px 0 10px 15px
        background: transparent !important
  .header-nav li.header-dropdown .header-dropdown ul
    left: 0
    li
      a
        padding-left: 30px

  .header-nav li.header-dropdown .header-dropdown>a
    justify-content: flex-start
  .header-nav li.header-dropdown .header-dropdown>a::after
    transform: rotate(90deg)
  .header-nav li.header-dropdown .header-dropdown:hover>a::after
    transform: rotate(-90deg)

  .header-nav li.header-dropdown ul,
  .header-nav li.header-dropdown .header-dropdown ul
    max-height: 0
    overflow: hidden
    transform: none !important
  .header-nav li.header-dropdown:hover>ul,
  .header-nav li.header-dropdown .header-dropdown:hover>ul
    max-height: 1000px
    transform: none !important

  .header .container
    gap: 0
