@media(max-width: 576px)
  body
    background: #e8e8e8

  .hero-title
    font-size: 42px

  .advantages-grid
    gap: 20px
  .advantages-item
    min-width: calc(100% / 2 - 10px)

  .projects-card__image
    height: 270px

  .text
    font-size: 14px

  .footer-nav
    width: 100%
    margin-left: 0
    margin-top: 30px
    iframe
      margin-top: 20px

  .cta h2
    font-size: 28px

  .cta h3
    font-size: 16px
    margin-top: 20px

  .title
    font-size: 28px

  .filter-block__label
    max-width: 45%

  .filter-block
    padding: 20px

  .catalog-item__carousel
    height: 270px

  .catalog-item__btn
    width: 100%

  .projects-card__btn
    width: 100%

  .works-item__btn
    width: 100%

  .works-single h2
    font-size: 28px

  .works-single
    min-height: 450px
    padding: 40px 0

  .projects-single__gallery-main
    height: 350px

  .table
    &-btn
      font-size: 14px
      margin: 5px
  .row
    gap: 1px
    &:not(:first-child)
      b
        font-size: 12px
      p
        margin-top: 4px
        font-size: 10px
    &:first-child
      h3
        font-size: 11px
      p
        font-size: 10px
        margin-top: 4px
        br
          display: none
      small
        font-size: 8px
      h4
        font-size: 12px
        margin-top: 5px
      .col
        padding-top: 15px
        padding-bottom: 15px
  .col
    &:not(:first-child)
      width: 100px

  .col
    text-align: left
    b, p
      width: 100%

  .row:first-child .col:first-child, .row:last-child .col:first-child
    font-size: 20px

  .projects-add__group .quiz-label
    width: 100%

  .projects-single__title
    font-size: 28px
  .projects-single .container
    gap: 20px

  .popup
    padding: 24px
    max-width: 400px
    h2
      font-size: 28px
    form
      margin-top: 20px

  .projects-single__gallery-arrow
    background-color: #fff

  .video
    bottom: 10px
    left: 10px

  .works-carousel
    &__wrapper
      padding: 0 24px
    &__arrow
      width: 48px
      height: 48px
      background-size: 12px
      bottom: initial
      top: 104px
