<div class="catalog-item">
  <div class="catalog-item__carousel">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img src="img/work-1.jpg" alt="" loading="lazy">
          <div class="swiper-lazy-preloader"></div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="img/work-1.jpg" alt="" loading="lazy">
          <div class="swiper-lazy-preloader"></div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="img/work-1.jpg" alt="" loading="lazy">
          <div class="swiper-lazy-preloader"></div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <span>Смотреть еще ›</span>
          <img src="img/work-1.jpg" alt="" loading="lazy">
          <div class="swiper-lazy-preloader"></div>
        </a>
      </div>
    </div>
    <div class="catalog-item__arrow catalog-item__arrow-prev"></div>
    <div class="catalog-item__arrow catalog-item__arrow-next"></div>
  </div>
  <div class="catalog-item__content">
    <a href="#" class="catalog-item__title">Каркасный дом “Фрея”</a>
    <ul class="catalog-item__list">
      <li class="sizes">48,1 м2</li>
      <li class="house">9х6 м</li>
      <li class="bed">2 спальни</li>
    </ul>
    <img src="https://comfort-project.ru/public_photos/projects/db190/Gardi_plan_Comfort_Project_ru.jpg" alt="" class="catalog-item__plan" loading="lazy">
    <div class="catalog-item__price">Цена от: 5 723 000 ₽</div>
    <div class="catalog-item__plan-switch">
      <p>Этаж</p>
      <ul>
        <li class="active" data-image="https://comfort-project.ru/public_photos/projects/db190/Gardi_plan_Comfort_Project_ru.jpg">1</li>
        <li data-image="https://comfort-project.ru/public_photos/projects/db196/Genri_plan2_1_Comfort_Project_ru.jpg">2</li>
      </ul>
    </div>
    <a href="#" class="catalog-item__btn">Посмотреть проект</a>
  </div>
</div>