.works
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
  &-carousel
    overflow: hidden
    .swiper-slide
      height: auto
      .works-item
        height: 100%
    &__wrapper
      position: relative
      padding: 0 70px
    &__arrow
      position: absolute
      top: 0
      bottom: 0
      margin: auto 0
      width: 60px
      height: 60px
      background: #fff url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.24102 0.357964L15.6586 8.1358C16.1138 8.61308 16.1138 9.38692 15.6586 9.8642L8.24102 17.642C7.78584 18.1193 7.04784 18.1193 6.59266 17.642C6.13748 17.1647 6.13748 16.3909 6.59266 15.9136L12.0205 10.2222L8.9365e-07 10.2222L6.7996e-07 7.77783L12.0205 7.77783L6.59266 2.08637C6.13748 1.60909 6.13748 0.835251 6.59266 0.357964C7.04784 -0.119322 7.78584 -0.119322 8.24102 0.357964Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center / 12px
      border-radius: 100%
      z-index: 10
      cursor: pointer
      &.prev
        left: 0
        transform: rotate(180deg)
      &.next
        right: 0
  &-item
    background-color: hsla(0, 0%, 100%, .7)
    padding: 5px 20px 20px
    border-radius: 20px
    @include flexbox
    flex-direction: column
    align-items: flex-start
    position: relative
    width: 100%
    &__img
      max-width: initial
      width: calc(100% + 30px)
      margin-left: -15px
      margin-right: -15px
      height: 250px
      border-radius: 15px
      object-fit: cover
      object-position: center
      margin-bottom: 20px
    &__title
      font-size: 20px
      font-weight: 700
      width: 100%
    &__list
      margin-top: 5px
      margin-bottom: 25px
      color: var(--color-shadow-blue)
      font-weight: 500
      line-height: 24px
      li
        margin-top: 20px
        position: relative
        padding-left: 30px
        &::before
          content: ''
          position: absolute
          top: 2px
          left: 0
          width: 20px
          height: 20px
          background-size: cover
          background-repeat: no-repeat
          background-position: center
        &.place::before
          background-image: url(../img/svg/place.svg)
        &.house::before
          background-image: url(../img/svg/house.svg)
        &.calendar::before
          background-image: url(../img/svg/calendar.svg)
    &__btn
      margin-top: auto
      padding: 15px
      width: 200px
      border-radius: 5px
      font-weight: 700
      border: 1px solid var(--color-black)
      background: #fff
      text-align: center
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
  &-btn
    background: var(--color-green)
    display: block
    text-align: center
    padding: 15px
    width: 260px
    border-radius: 999px
    font-weight: 700
    color: #fff
    margin: 40px auto 0
  &-page
    &__grid
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 20px
      .works-item__img
        height: 350px
  &-single
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 110px 0
    color: #fff
    min-height: 800px
    @include flexbox
    align-items: center
    flex-direction: column
    .container
      margin-top: auto
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: #000
      opacity: 0.5
    h2
      font-size: 42px
      font-weight: 700
      font-family: Rubik
      text-shadow: 1px 1px 4px #0000005f
    ul
      text-shadow: 1px 1px 3px #0000005f
      font-size: 22px
      margin-top: 30px
      line-height: 1.25
      li
        margin-top: 10px
        position: relative
        padding-left: 20px
        &::before
          content: '-'
          position: absolute
          top: 0
          left: 0
        &:first-child
          margin-top: 0
    &__btn
      display: block
      font-weight: 700
      color: #fff
      background: var(--color-green)
      border-radius: 99px
      width: 200px
      text-align: center
      padding: 16px 0
      margin-top: 40px
  &-gallery
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    a
      display: block
      background: #fff
      padding: 8px
      border-radius: 20px
      img
        width: 100%
        border-radius: 12px
