.works
  &-grid
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
  &-item
    background-color: hsla(0, 0%, 100%, .7)
    padding: 5px 20px 20px
    border-radius: 20px
    @include flexbox
    flex-direction: column
    align-items: flex-start
    position: relative
    width: 100%
    &__img
      max-width: initial
      width: calc(100% + 30px)
      margin-left: -15px
      margin-right: -15px
      height: 250px
      border-radius: 15px
      object-fit: cover
      object-position: center
      margin-bottom: 20px
    &__title
      font-size: 20px
      font-weight: 700
      width: 100%
    &__list
      margin-top: 5px
      margin-bottom: 25px
      color: var(--color-shadow-blue)
      font-weight: 500
      line-height: 24px
      li
        margin-top: 20px
        position: relative
        padding-left: 30px
        &::before
          content: ''
          position: absolute
          top: 2px
          left: 0
          width: 20px
          height: 20px
          background-size: cover
          background-repeat: no-repeat
          background-position: center
        &.place::before
          background-image: url(../img/svg/place.svg)
        &.house::before
          background-image: url(../img/svg/house.svg)
        &.calendar::before
          background-image: url(../img/svg/calendar.svg)
    &__btn
      margin-top: auto
      padding: 15px
      width: 200px
      border-radius: 5px
      font-weight: 700
      border: 1px solid var(--color-black)
      background: #fff
      text-align: center
      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
  &-btn
    background: var(--color-green)
    display: block
    text-align: center
    padding: 15px
    width: 260px
    border-radius: 999px
    font-weight: 700
    color: #fff
    margin: 40px auto 0
  &-page
    &__grid
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: 20px
      .works-item__img
        height: 350px
  &-single
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    padding: 110px 0
    color: #fff
    min-height: 800px
    @include flexbox
    align-items: center
    flex-direction: column
    .container
      margin-top: auto
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: #000
      opacity: 0.5
    h2
      font-size: 42px
      font-weight: 700
      font-family: Rubik
      text-shadow: 1px 1px 4px #0000005f
    ul
      text-shadow: 1px 1px 3px #0000005f
      font-size: 22px
      margin-top: 30px
      line-height: 1.25
      li
        margin-top: 10px
        position: relative
        padding-left: 20px
        &::before
          content: '-'
          position: absolute
          top: 0
          left: 0
        &:first-child
          margin-top: 0
    &__btn
      display: block
      font-weight: 700
      color: #fff
      background: var(--color-green)
      border-radius: 99px
      width: 200px
      text-align: center
      padding: 16px 0
      margin-top: 40px
  &-gallery
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 20px
    a
      display: block
      background: #fff
      padding: 8px
      border-radius: 20px
      img
        width: 100%
        border-radius: 12px
