{% extends 'components/_layout.html' %}
{% set site_title = 'О нас' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t projects">
  <div class="container">
    <h2 class="title">О нас</h2>
    <div class="text">
      <p>Добро пожаловать на сайт нашей строительной компании, специализирующейся на строительстве каркасных домов комфорт класса! Мы рады представить вам наш опыт и профессионализм, которые мы накопили за более чем 10 лет на рынке.</p>
      <p>Наша компания основана с целью предоставить нашим клиентам надежные и качественные каркасные дома, отвечающие самым высоким стандартам комфорта и безопасности. Мы гордимся тем, что каждый наш дом отличается индивидуальностью, уникальным дизайном и высокой функциональностью.</p>
      <p>Что отличает нас от других компаний на рынке? Прежде всего, наш коллектив состоит из профессионалов в своей области, включая архитекторов, инженеров и строителей, которые обладают богатым опытом и творческим подходом к работе. Мы постоянно следим за последними тенденциями в сфере строительства и применяем инновационные технологии и материалы, чтобы обеспечить нашим клиентам лучший результат.</p>
      <p>Мы понимаем, что строительство дома - это важное и ответственное решение для каждой семьи. Поэтому мы придаем большое значение индивидуальному подходу к каждому клиенту. Наша команда всегда готова выслушать ваши пожелания и предложить оптимальное решение, которое будет соответствовать вашим потребностям, бюджету и срокам.</p>
      <p>Мы также гарантируем прозрачность и надежность на всех этапах работы. Наша компания тесно сотрудничает с проверенными поставщиками материалов, что позволяет нам предложить высокое качество по доступным ценам. Мы также обеспечиваем строгое соблюдение сроков и качества строительства, чтобы каждый наш клиент был доволен результатом.</p>
      <p>Мы приглашаем вас присоединиться к нашему списку довольных клиентов, которые уже оценили преимущества каркасных домов комфорт класса от нашей компании. Если у вас есть вопросы или вы хотите обсудить свой проект, пожалуйста, свяжитесь с нами. Мы с удовольствием поможем вам воплотить ваши мечты о идеальном доме!</p>
      <p>С уважением, команда Комфорт-Проект.</p>
    </div>
    <div class="text"><a href="https://www.youtube.com/watch?v=Zk1krMpUiME" data-fancybox class="about-video"><img src="img/yt-video.jpg" alt=""></a></div>
  </div>
</section>

{% endblock %}