{% extends 'components/_layout.html' %}
{% set site_title = 'Каталог' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
    <div class="filter-catalog">
      <h4>Выбрать каталог</h4>
      <div class="filter-catalog__select">
        <div class="filter-catalog__checked"><p>Все проекты</p></div>
        <ul class="filter-catalog__list">
          <li class="checked"><a href="#">Все проекты</a></li>
          <li><a href="#">Скандинавские дома</a></li>
          <li><a href="#">Барнхаус</a></li>
          <li><a href="#">А-Фрейм</a></li>
          <li><a href="#">Строительство каркасных коттеджей</a></li>
          <li><a href="#">Одноэтажные каркасные дома</a></li>
          <li><a href="#">Каркасные дома с мансардой</a></li>
          <li><a href="#">Полутораэтажные каркасные дома</a></li>
          <li><a href="#">Двухэтажные каркасные дома</a></li>
          <li><a href="#">Зимние каркасные дома</a></li>
          <li><a href="#">Каркасные дома с отделкой</a></li>
          <li><a href="#">Каркасные дома с коммуникациями</a></li>
          <li><a href="#">Каркасные дома с панорамными окнами</a></li>
          <li><a href="#">Каркасные дома без отделки</a></li>
          <li><a href="#">Садовые каркасные дома</a></li>
          <li><a href="#">Каркасные дома с террасой</a></li>
          <li><a href="#">Каркасные дома с верандой</a></li>
          <li><a href="#">Частные каркасные дома</a></li>
          <li><a href="#">Загородные каркасные дома</a></li>
          <li><a href="#">Каркасные дома с эркером</a></li>
          <li><a href="#">Квадратные каркасные дома</a></li>
          <li><a href="#">Угловые каркасные дома</a></li>
        </ul>
      </div>
    </div>
    <div class="filter-block">
      <div class="filter-block__row">
        <div class="filter-block__range">
          <h3>Цена:</h3>
					<div class="filter-block__slider" id="price-slider"></div>
          <div class="filter-block__inputs">
            <label class="filter-block__label">
              <input type="number" min="1" max="6054000" id="input-0">
              <span>руб.</span>
            </label>
            <label class="filter-block__label">
              <input type="number" min="1" max="6054000" id="input-1">
              <span>руб.</span>
            </label>
          </div>
        </div>
        <div class="filter-block__range">
          <h3>Площадь:</h3>
					<div class="filter-block__slider" id="area-slider"></div>
          <div class="filter-block__inputs">
            <label class="filter-block__label">
              <input type="number" min="10" max="250" id="input-2">
              <span>м<sup>2</sup></span>
            </label>
            <label class="filter-block__label">
              <input type="number" min="10" max="250" id="input-3">
              <span>м<sup>2</sup></span>
            </label>
          </div>
        </div>
      </div>
      <div class="filter-more__btn"><a href="javascript:;">Дополнительные параметры</a></div>
      <div class="filter-more">
        <div class="filter-more__wrapper">
          <div class="filter-block__group">
            <h4>Общая площадь:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>48,1 м<sup>2</sup></p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>86,7 м<sup>2</sup></p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Размер:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>9x6 м</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>8x7 м</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Крыша:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>прямая</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>полувальмовая</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>вальмовая</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>двухуровневая</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Терраса:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>48,1 м<sup>2</sup></p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>48,1 м<sup>2</sup></p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Санузлов:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>1</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>2</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>3</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Спальни:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>2</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>3</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>4</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Этажей:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>1</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>1 + Мансарда</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>1 + Антресоль</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>1.5</p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>2</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Крыльцо:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>48,1 м<sup>2</sup></p>
            </label>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>48,1 м<sup>2</sup></p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Бойлерная:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>есть</p>
            </label>
          </div>
          <div class="filter-block__group">
            <h4>Котельная:</h4>
            <label class="filter-block__checkbox">
              <input type="checkbox" name="" />
              <p>есть</p>
            </label>
          </div>
        </div>
      </div>
      <div class="filter-block__btns">
        <button class="filter-block__apply">Принять</button>
        <button class="filter-block__reset">Сбросить</button>
      </div>
    </div>
  </div>
</section>

<section class="section section-t catalog">
  <div class="container">
    <h2 class="title">Все проекты</h2>
    <div class="catalog-grid">
      {% include 'components/catalog-item.html' %}
      {% include 'components/catalog-item.html' %}
      {% include 'components/catalog-item.html' %}
      {% include 'components/catalog-item.html' %}
      {% include 'components/catalog-item.html' %}
      {% include 'components/catalog-item.html' %}
    </div>
  </div>
</section>

<section class="section section-t projects">
  <div class="container">
    <h2 class="title">Каталоги</h2>
    <div class="projects-list">
      <div class="projects-card">
        <img src="img/projects-card-1.jpg" alt="" loading="lazy" class="projects-card__image">
        <div class="projects-card__content">
          <h3 class="projects-card__title">Скандинавские дома</h3>
          <p class="projects-card__text">Лаконичный дизайн, функциональность и традиционная простота форм. Дома в таком стиле отлично отображают идею размеренности жизни, привязку к природе.</p>
          <a href="#" class="projects-card__btn">Посмотреть проекты</a>
        </div>
      </div>
      <div class="projects-card">
        <img src="img/projects-card-2.jpg" alt="" loading="lazy" class="projects-card__image">
        <div class="projects-card__content">
          <h3 class="projects-card__title">Барнхаус</h3>
          <p class="projects-card__text">Мода на них зародилась в Западной Европе – на стыке минимализма, лофта и био-тека. Это простота любой дорогостоящей вещи, которой не нужна мишура.</p>
          <a href="#" class="projects-card__btn">Посмотреть проекты</a>
        </div>
      </div>
      <div class="projects-card">
        <img src="img/projects-card-3.jpg" alt="" loading="lazy" class="projects-card__image">
        <div class="projects-card__content">
          <h3 class="projects-card__title">А-Фрейм</h3>
          <p class="projects-card__text">Такие дома особенно популярны в Северной Америке и Канаде. Оригинальный внешний вид идеально дополняет изысканный вкус владельца.</p>
          <a href="#" class="projects-card__btn">Посмотреть проекты</a>
        </div>
      </div>
    </div>
    <div class="text">
      <h3>Строительство каркасных домов под ключ с компанией Комфорт Проект</h3>
      <p>Если вы хотите построить свой идеальный дом в Москве или Московской области и ищете профессиональную компанию по строительству каркасных домов, то обратитесь в Комфорт-Проект! Мы готовы превратить вашу мечту в реальность.</p>
      <p>Наша проектно-строительная организация специализируется на качественном и надежном строительстве каркасных домов под ключ, гарантируя вам комфорт и уют в каждом уголке вашего будущего жилья. Мы предоставляем полный комплекс услуг, чтобы вам не пришлось беспокоиться о мелочах.</p>
      <p>Преимущества работы с нами:</p>
      <p>1. Индивидуальный подход. Каждый клиент уникален и имеет свои особые требования и пожелания, поэтому наша команда профессионалов работает над созданием индивидуальных проектов, учитывая все ваши предпочтения, особенности участка.</p>
      <p>2. Комплексный подход. Специалисты нашей компании возьмут на себя все этапы проекта – от разработки и выбора оптимальной планировки до строительства и внутренней отделки. Вам не придется искать разных подрядчиков, потому что мы берем на себя всю ответственность за объект.</p>
      <p>3. Качество и надежность. Мы придерживаемся высоких стандартов качества во всех наших проектах. Используем только лучшие материалы и современное строительное оборудование, чтобы обеспечить долговечность, надежность и качество возведения вашего дома.</p>
      <p>4. Доступная цена. Наша проектно-строительная организация предлагает полный спектр услуг по разумной стоимости. Вы можете быть уверены, что получите высокую гарантию качества и отличный результат по выгодной цене.</p>
      <p>Наша компания по строительству каркасных домов работает в Москве и Подмосковье уже много лет и имеет множество довольных клиентов. Мы гарантируем высокое качество работ и соблюдение всех сроков. На нашем сайте вы можете ознакомиться с каталогом услуг, узнать стоимость разработки проекта и заказать звонок менеджера.</p>
    </div>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <div class="cta">
      <div class="cta-content">
        <h2>Оставьте заявку и мы свяжемся с Вами</h2>
        <h3>Не нашли подходящий проект в каталоге?<br> Сделаем проект по вашим эскизам!</h3>
        <form action="#" method="post">
          <label>
            <p>Как к вам обращаться</p>
            <input type="text" name="name" placeholder="Имя" />
          </label>
          <label>
            <p>Номер телефона</p>
            <input type="tel" name="name" class="masked" placeholder="Телефон" />
          </label>
          <button type="submit">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}