{% extends 'components/_layout.html' %}
{% set site_title = 'Кредитование дома' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <h2 class="title">Кредитование дома</h2>
    <div class="text">
      <p>Кредитование дома – лучший способ осуществить свою мечту о собственном жилье. Комфорт-Проект, ведущая компания в сфере строительства, предлагает уникальную возможность купить недвижимость в кредит, под ключ.</p>
      <p>Кредитование дома является надежным и удобным решением для всех, кто мечтает о собственном жилье, но не имеет достаточных средств для полной оплаты. Процесс кредитования дома от Комфорт-Проекта – это быстро, просто и выгодно.</p>
      <p>Что делает Комфорт-Проект особенным? Компания специализируется на строительстве недорогих и качественных каркасных домов под ключ, которые полностью учитывают потребности и пожелания частных заказчиков. Благодаря использованию современных технологий и материалов, компания предлагает кредитование домов высокого качества по доступной цене.</p>
      <p>Преимущества кредитования дома от Комфорт-Проекта:</p>
      <p>1. Безопасность. Так как Комфорт-Проект является одной из ведущих компаний в сфере строительства, заказывая у нас, вы можете быть уверены в надежности и качестве каждой детали и этапа строительства.</p>
      <p>2. Гибкость. Мы предлагаем различные варианты кредита, учитывая ваши финансовые возможности и потребности. Благодаря индивидуальному подходу, каждый клиент может выбрать оптимальный план кредита, который будет соответствовать его личным условиям.</p>
      <p>3. Профессионализм. Наша команда состоит из высококвалифицированных специалистов, которые гарантируют высокое качество и своевременную постройку.</p>
      <p>4. Готовность к сотрудничеству. Мы ценим каждого клиента и готовы ответить на все ваши вопросы и пожелания. Мы стараемся создать комфортные условия и удовлетворить все ваши потребности.</p>
    </div>
    <div class="text credit-sber">
      <h3>Рассчитайте ипотеку в Сбербанк</h3>
      <p>Кредитный калькулятор поможет подобрать выгодные условия</p>
      <iframe frameborder="0" height="1410px" src="https://ipoteka.domclick.ru/calc-reg/calculator.html"></iframe>
    </div>
  </div>
</section>

{% endblock %}