{% extends 'components/_layout.html' %}
{% set site_title = 'Каркасные дома с доставкой' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <h2 class="title">Каркасные дома с доставкой</h2>
    <div class="text">
      <p><b>Информация о Гарантии:</b></p>
      <p>Наша компания предоставляет гарантию 10 лет при соблюдении следующих условий:</p>
      <ul>
        <li>антисептирование основания</li>
        <li>монтаж сетки от грызунов</li>
        <li>окраска отделочных материалов из дерева на производстве</li>
        <li>монтаж вентиляционной системы</li>
        <li>окна из пятикамерного профиля не менее 70 мм. и минимум двухкамерный стеклопакет</li>
        <li>минимум 150 мм. утепление стен + шпунтованная изоплита 20 мм.; перекрытия и скатные части кровли минимум утепление 200 мм.</li>
        <li>кровельное покрытие из металла не толщиной не менее 0,5 мм. + снегозадерживающая и водосточная система кровли</li>
        <li>входная дверь с терморазрывом</li>
      </ul>
      <p>Перечисленные пункты не какие-то дополнительные опции которые навязывает менеджер, чтобы побольше заработать. Это необходимые улучшения, которые сделают вашу жизнь комфортнее, а ваше жилище сохранит свою аутентичность на многие годы и будет радовать своим эстетичным видом не только вас, но и всех окружающих.</p>
      <p><b>Информация о Доставке:</b></p>
      <p>Кроме того, у нас действует гибкая система доставки. Для заказов в пределах МКАД доставка осуществляется бесплатно, а за пределами города мы оцениваем стоимость доставки по тарифу 120 рублей за каждый километр.</p>
      <p>Хотите построить современный и качественный дом, не затрачивая много времени и сил? Тогда обратите внимание на каркасные дома с доставкой от компании Комфорт-Проект. Мы предлагаем своим клиентам полный комплекс услуг, начиная от проектирования и заканчивая монтажом под ключ.</p>
      <p><b>Преимущества каркасных домов с доставкой от Комфорт-Проект:</b></p>
      <p>1. Быстрое строительство. Каркасные дома с доставкой предлагают уникальную возможность получить готовый дом всего за несколько недель. Наши опытные специалисты знают грамотные технологии и современные материалы, чтобы создать в кратчайшие сроки.</p>
      <p>2. Компания выполняет все работы под ключ. У нас есть все необходимые мастерские, команда профессионалов, чтобы вам не пришлось беспокоиться об организации инженерных коммуникаций, отделке, отоплении и электроснабжении.</p>
      <p>Купить каркасный дом с доставкой от Комфорт-Проект значит получить высокое качество и гарантию на все выполняемые работы. Мы стремимся к качеству во всех аспектах нашей деятельности, поэтому используем только надежные материалы, современное оборудование и сотрудничаем с проверенными поставщиками.</p>
      <p>Строительство под ключ — один из наших преимуществ. Наша компания заботится о своих клиентах с первого дня строительства и до момента сдачи готового объекта. Мы стремимся сделать процесс строительства максимально комфортным и прозрачным для вас. Вам будет предоставлен подробный каталог наших проектов с описанием и ценами, чтобы вы могли выбрать вариант, соответствующий вашим потребностям и бюджету.</p>
      <p>Мы предлагаем гибкую систему ценообразования, которая позволяет выбрать наиболее подходящий вариант для вашего бюджета. У нас нет скрытых платежей и неприятных сюрпризов, мы честно работаем со своими клиентами и ценим их доверие.</p>
      <p>Если вы ищете каркасный дом с доставкой, компания Комфорт-Проект — надежный партнер в выполнении вашего жилищного проекта. Гарантия качества, гибкие условия сотрудничества, опытные специалисты и индивидуальный подход — все это наша забота о вас. Доверьте нам свои желания, и мы воплотим их в жизнь!</p>
      <p>Каркасные дома с доставкой в Москву от Комфорт-Проект — это удобство, качество и надежность!</p>
    </div>
  </div>
</section>

{% endblock %}