{% extends 'components/_layout.html' %}
{% set site_title = 'Индивидуальное проектирование' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t projects">
  <div class="container">
    <h2 class="title">Индивидуальное проектирование</h2>
    <div class="text">
      <p>Индивидуальное проектирование - это услуга, которая позволяет учитывать пожелания клиента при создании проекта будущего дома. Разработка производится в тесном сотрудничестве с заказчиком, что позволяет создать идеальную планировку и внешний вид дома, учитывая все требования и предпочтения клиента.</p>
      <p>Компания “Комфорт-Проект” является профессиональным застройщиком, предлагающим услуги по индивидуальному проектированию и строительству домов в Москве и Московской области. Наша команда опытных архитекторов и дизайнеров готова создать для вас эксклюзивный дом, который отвечает всем вашим требованиям и пожеланиям. Мы гарантируем высокое качество проектирования и строительства домов, а также максимальную реализацию всех пожеланий клиента.</p>
      <p>Индивидуальное проектирование - это не только создание уникального дизайна дома, но и учет всех функциональных и эргономических требований. Наши специалисты помогут вам определить оптимальное расположение помещений, планировку и размеры комнат, а также подберут подходящие материалы и технологии строительства, учитывая ваш бюджет.</p>
      <p>Цена на услуги по индивидуальному проектированию зависит от сложности проекта и объема работ. Однако, у нас всегда есть возможность найти оптимальное решение, которое удовлетворит все ваши потребности и позволит реализовать ваши мечты об идеальном доме.</p>
      <p>Если вы хотите заказать индивидуальный проект своего загородного дома, то на нашем сайте вы можете рассчитать стоимость услуги и оставить заявку на разработку проекта. Наши специалисты свяжутся с вами в ближайшее время и предложат вам наиболее подходящее решение.</p>
      <p>Компания “Комфорт-Проект” готова воплотить в жизнь все ваши идеи и желания об идеальном доме. Обращайтесь к нам, и мы сделаем вашу мечту реальностью!</p>
    </div>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <div class="cta">
      <div class="cta-content">
        <h2>Оставьте заявку и мы свяжемся с Вами</h2>
        <form action="#" method="post">
          <label>
            <p>Площадь дома в м<sup>2</sup></p>
            <input type="number" name="area-house" placeholder="Укажите площадь" />
          </label>
          <label>
            <p>Площадь Террасы/Балкона/крыльца в м<sup>2</sup></p>
            <input type="number" name="area-porch" placeholder="Укажите площадь" />
          </label>
          <div class="cta-total">
            <p>Ориентировочная стоимость</p>
            <h4><span>0</span> ₽</h4>
          </div>
          <label>
            <p>Как к вам обращаться</p>
            <input type="text" name="name" placeholder="Имя" />
          </label>
          <label>
            <p>Номер телефона</p>
            <input type="tel" name="name" class="masked" placeholder="Телефон" />
          </label>
          <button type="submit">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}