{% extends 'components/_layout.html' %}
{% set site_title = 'Как заказать' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <h2 class="title">Как заказать</h2>
    <div class="text">
      <p>Если вас заинтересовал проект Каркасных Домов, нашей строительной компании Комфорт-Проект, необходимо связаться с нами по телефону: 8-800-250-35-15.</p>
      <p>Если у вас есть собственное видение вашего будущего каркасного дома, звоните нам по указанному выше номеру телефона: мы разработаем новый проект и построим дом в соответствии с вашими пожеланиями! Сначала мы тщательно обсудим все детали предстоящего строительства, внесем необходимые изменения в проект, согласуем сроки и окончательную стоимость работ. После заключения договора, доставки материалов и прибытия рабочих, вы оплачиваете 70% от общей стоимости объекта. Договор, составленный в двух экземплярах, будет доставлен представителем, который прибудет на ваш участок вместе с рабочими и материалами для строительства.</p>
      <p>Остальные 30% оплачиваются вами после завершения строительства и подписания акта приема-сдачи. Весь период строительства дома на вашем участке будет находиться бригада строителей. Если у вас нет места для размещения рабочих, мы привезем с собой бытовку, которая останется на вашем участке. Стоимость бытовки оплачивается отдельно. Все необходимые материалы для строительства будут поставлены и доставлены на ваш участок нашим автотранспортом. С компанией Комфорт-Проект можно заключить договор по трем вариантам:</p>
      <p>1. Интернет-заявка. Вы отправляете название из каталога на нашем сайте. Также вы указываете необходимую комплектацию и свои пожелания. Мы обсуждаем все детали с вами и отправляем заполненный договор. Если у вас нет вопросов, мы доставляем материалы, рабочих и начинаем строительство после подписания договора нашим представителем.</p>
      <p>2. Выезд на место. Самый популярный вариант. Предполагает выезд нашего менеджера к вам на участок или в любое удобное для вас место. Выезд абсолютно бесплатный. Вам не нужно ехать, стоять в пробках и тратить свое время. Комфорт-Проект заботится о своих клиентах! Перед выездом менеджера мы предварительно обсуждаем все детали интересующего вас объекта, вносим корректировки и изменения при необходимости, согласовываем стоимость объекта. Если всё вас устраивает и вы готовы заключить договор, наш менеджер приезжает к вам. На месте менеджер оценивает состояние грунта, подъездные пути к участку и дает рекомендации.</p>
      <p>3. Встреча в нашем офисе. Все встречи проходят по предварительной записи.</p>
      <p>Процесс заказа:</p>
      <p>1. Когда клиент заинтересован в заказе строительства каркасного дома, он может связаться с нами по телефону, заполнив форму заявки на сайте или написав письмо на указанный адрес электронной почты: info@komfort-proekt.ru</p>
      <p>2. Сразу после получения заявки, наш менеджер связывается с клиентом, чтобы уточнить все необходимые детали и собрать информацию для расчета стоимости будущего проекта. Мы интересуемся размерами земельного участка, пожеланиями по дизайну и функционалу дома, а также требованиями к материалам и срокам строительства.</p>
      <p>3. После того, как мы получаем эскизы или наброски от клиента, мы проводим расчет стоимости строительства, учитывая все предоставленные данные. Затем мы формируем коммерческое предложение, в котором указываем все условия, цену, сроки работ и используемые материалы.</p>
      <p>4. Если клиент согласен с предложенной ценой, он вносит оплату за разработку проекта. Дальше мы приступаем к согласованию архитектурно-строительных решений (АР) с заказчиком. После этого разрабатываем конструктивные решения (КР).</p>
      <p>5. Когда заказчик одобряет все архитектурные решения, мы заключаем договор и назначаем дату, на которую материалы и строительная бригада будут доставлены на участок. В этот день клиент оплачивает стоимость материалов в соответствии с условиями договора.</p>
      <p>6. В указанную дату на участок приезжает машина с материалами, а строительная бригада начинает свою работу. Заказчик участвует в процессе, общается с бригадой и нашими специалистами, в случае необходимости.</p>
      <p>7. После выполнения всех строительных работ наши строители завершают проект.Заказчик осматривает объект на на наличие недочётов. При выявлении таковых бригада строителей оперативно их устраняет, а при их отсутствии подписывается АКТ сдачи-приёмки и заказчик вступает в законное владение новым домом.</p>
      <p>Прежде чем приехать к нам, позвоните по тел:  8-800-250-35-15. Сотрудники компании Комфорт-Проект превратят вашу жилищную мечту в настоящий семейный рай. Мы создаем уютное и комфортное гнездышко, где вы и ваша семья сможете наслаждаться жизнью. Наша команда специалистов обладает необходимыми знаниями и опытом, чтобы реализовать все ваши желания и потребности. Независимо от того, какой стиль или планировку вы предпочитаете, наши эксперты смогут создать идеальное решение и превратить ваш дом в истинное семейное гнездо. Начните новую главу в вашей жизни с нами и ощутите настоящую комфортность и уют в каждой комнате вашего дома.</p>
    </div>
  </div>
</section>

{% endblock %}