{% extends 'components/_layout.html' %}
{% set site_title = 'Оплата' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <h2 class="title">Оплата</h2>
    <div class="text">
      <p>Наша компания Комфорт-Проект предлагает строительство каркасных домов, скандинавских домов, а также бранхаус и А-Фрейм . Для удобства клиентов, мы предоставляем различные условия оплаты.</p>
      <p>При заказе каркасного дома, предоплата составляет 0% от общей стоимости проекта. Затем, при завозе строительных материалов на участок строительства, клиент оплачивает 70% от общей стоимости проекта. Оставшиеся 30% оплачиваются после завершения всех строительных работ и принятия работой клиентом.</p>
      <p>Кроме основных условий оплаты, мы также предоставляем дополнительные услуги. В случае, если на участке строительства отсутствует постоянный источник электроснабжения, наша компания предоставляет генератор в аренду. Стоимость аренды генератора составляет 10 000 рублей. Топливо для генератора предоставляет заказчик. Для проживания строителей на участке строительства необходимо обеспечить соответствующие условия.</p>
      <p>В случае отсутствия помещения для проживания, мы предлагаем приобретение строительной бытовки размером 3,0х2,0 м. Стоимость бытовки составляет 22 000 рублей. После завершения строительных работ, бытовка остается на участке в собственности заказчика.</p>
      <p>Все условия по доставке и оплате обсуждаются индивидуально в каждом случае до подписания договора. Мы стремимся предоставить нашим клиентам лучший сервис и учитываем все их потребности.</p>
    </div>
  </div>
</section>

{% endblock %}