{% extends 'components/_layout.html' %}
{% set site_title = 'Наши работы' %}

{% block content %}

<section class="filter">
  <div class="container">
    <ul class="breadcrumbs">
      <li><a href="/">Главная</a></li>
      <li><a href="#">{{ site_title }}</a></li>
    </ul>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <h2 class="title">Наши работы</h2>
    <div class="works-page__grid">
      {% include 'components/works-item.html' %}
      {% include 'components/works-item.html' %}
      {% include 'components/works-item.html' %}
      {% include 'components/works-item.html' %}
      {% include 'components/works-item.html' %}
      {% include 'components/works-item.html' %}
    </div>
  </div>
</section>

<section class="section section-t projects">
  <div class="container">
    <div class="text">
      <h3>Проектирование каркасных домов в компании Комфорт-Проект</h3>
      <p>Вы ищете надежную организацию для строительства дома? Компания Комфорт-Проект предлагает проектирование каркасных домов под ключ в Москве и Московской области. Мы предлагаем профессиональные услуги по разработке индивидуальных проектов, которые учтут все ваши пожелания и обеспечат комфортное проживание в вашем будущем жилье.</p>
      <p>Преимущества работы с компанией Комфорт-Проект:</p>
      <p>1. Индивидуальный подход.</p>
      <p>2. Надежность и долговечность конструкции.</p>
      <p>4. Доступная цена.</p>
      <p>5. Гарантия качества и безопасности.</p>
      <p>Купить проект каркасного дома в нашей организации – это отличная возможность получить качественные услуги по выгодной цене. В каталоге представлен широкий выбор каркасных домов по приемлемой стоимости, с которым вы можете ознакомиться на нашем на сайте.</p>
      <p>Мы предоставляем полный комплекс услуг по проектированию и строительству – от разработки до сдачи объекта под ключ. Вы можете заказать проект каркасного дома в Москве и Московской области, в зависимости от ваших потребностей и предпочтений. Наша компания состоит из опытных специалистов, которые всегда готовы предложить нашим клиентам лучшие решения.</p>
      <p>Чтобы узнать стоимость услуг, вы можете связаться с нами по телефону или оставить заявку на нашем сайте. Мы обязательно свяжемся с вами, чтобы обсудить детали и предоставить всю актуальную информацию.</p>
      <p>Если вы ищете надежного и качественного партнера для проектирования и строительства каркасных домов в Москве и Московской области, обратитесь к нам! Мы гарантируем высокое качество нашей работы и всегда готовы помочь вам реализовать вашу мечту о современном и удобном жилье.</p>
    </div>
  </div>
</section>

<section class="section section-t">
  <div class="container">
    <div class="cta">
      <div class="cta-content">
        <h2>Оставьте заявку и мы свяжемся с Вами</h2>
        <h3>Не нашли подходящий проект в каталоге?<br> Сделаем проект по вашим эскизам!</h3>
        <form action="#" method="post">
          <label>
            <p>Как к вам обращаться</p>
            <input type="text" name="name" placeholder="Имя" />
          </label>
          <label>
            <p>Номер телефона</p>
            <input type="tel" name="name" class="masked" placeholder="Телефон" />
          </label>
          <button type="submit">Оставить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}